* {
    padding: 0;
    margin: 0;
    /*overflow: hidden;*/
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: grid;
    place-items: center;
    background: #e4e4e4;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    position: relative;
    width: 100%;
}

.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    position: sticky;
    top: 25px;
    border: 1px solid black;
    border-radius: 10px;
}

.menu {
    display: flex;
    gap: 20px;
    align-items: center;
}
.menu .navitem{
    text-decoration: none;
    color: black;
}

.section {
    width: 95dvw;
    height: 100dvh;
    display: grid;
    place-items: center;
}
.sectionItem{
    width: 90%;
    height: 90%;
    border: 1px solid black;
    border-radius: 10px;
}